<% provide(:title, 'Search') %>

<div class = "search_page">

	<%= render 'shared/aside' %>

	<div class = "col-md-8 search">

		<div class = "topic">Search with "<%= params[:search] %>"</div>

		<div class = "result">
			<% if !@users.nil? %>
				<ul>
					<% @users.each do |user| %>
	 						<li>
								<%= link_to user.name, user_path(user) %> - <%= user.email %>	
						  </li>
					<% end %>
				</ul>
			<% else %>
				<div>Search Nothing about <%= params[:search] %></div>
			<% end %>  
		</div>

	</div>

</div>