<% if album.past %>
	<div class = "album">
		<div class = "album_past">

			<div class = "left-top">
				<%= link_to image_tag(@user.headpic.url, alt: @user.name, class: "headpic") %>
			</div>
			<div class = "right-top">
				<div class = "datetime"><%= album.created_at.to_date.to_s %></div>
				<div class = "name"><%= album.name %></div>
			</div>
			<div class = "middle">
				<%= link_to image_tag(album.photos[0].picture_url), album %>
			</div>
			<div class = "bottom">
				<% if current_user?(album.user) %>
					<div class = "action">
						<%= link_to "Delete", album, method: :delete, data: {confirm: "You sure?"}, class: "btn btn-delete" %>
					</div>
					<div class = "action">
						<% if album.past %>
							<%= link_to "Past", change_past_now_albums_path(:id => album.id), data: {confirm: "Change it to Now?"}, class: "btn btn-past" %>
						<% else %>
							<%= link_to "Now", change_past_now_albums_path(:id => album.id), data: {confirm: "Change it to Past?"}, class: "btn btn-now" %>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>
	</div>
<% else %>
	<div class = "album">
		<div class = "album_present">

			<div class = "left-top">
				<%= link_to image_tag(@user.headpic.url, alt: @user.name, class: "headpic") %>
			</div>
			<div class = "right-top">
				<div class = "datetime"><%= album.created_at.to_date.to_s %></div>
				<div class = "name"><%= album.name %></div>
			</div>
			<div class = "middle">
				<%= link_to image_tag(album.photos[0].picture_url), album %>
			</div>
			<div class = "bottom">
				<% if current_user?(album.user) %>
					<div class = "action">
						<%= link_to "Delete", album, method: :delete, data: {confirm: "You sure?"}, class: "btn btn-delete" %>
					</div>
					<div class = "action">
						<% if album.past %>
							<%= link_to "Past", change_past_now_albums_path(:id => album.id), data: {confirm: "Change it to Now?"}, class: "btn btn-past" %>
						<% else %>
							<%= link_to "Now", change_past_now_albums_path(:id => album.id), data: {confirm: "Change it to Past?"}, class: "btn btn-now" %>
						<% end %>
					</div>
				<% end %>
			</div>

		</div>
	</div>
<% end %>