<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% flash.each do |message_type, message| %>
      <div id = "notice_wrapper">
        <div class = "notice-<%= message_type %>"><%= message %></div>
      </div>
    <% end %>
    <%= yield %>

    <script type="text/javascript">
      $(document).ready(function(){
        setTimeout(function(){
          $('#notice_wrapper').fadeOut("slow", function(){
            $(this).remove();
          })
        }, 3000);
      });
    </script>

  </body>
</html>
